<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold text-white" href="#">AMRUTHA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link text-light active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="#about">About</a></li>
          <li class="nav-item"><a class="nav-link text-light" href="#projects">Projects/Experience</a></li>
         
          <li class="nav-item"><a class="nav-link text-light" href="#contact">Contact Me</a></li>
        </ul>
      </div>
      
    </div>
  </nav>

  <!-- Hero Section -->
  <div class="hero d-flex flex-column align-items-start justify-content-center text-white vh-100 px-5">
    <div class="container">
      <p class="lead text-light">HI THERE 👋 I'M</p>
      <h1 class="display-3 fw-bold">AMRUTHA VARSHINI THALLA</h1>
      <h2 class="text-success fw-semibold">FULL STACK .NET DEVELOPER 👩‍💻</h2>
      <p class="lead text-secondary">I’m Expert in Angular, .NET, Azure & Cloud Technologies</p>
      <a href="mailto: varshinireddy1002@gmail.com" class="btn btn-success btn-lg mt-3 px-4 fw-semibold shadow">Hire Me</a>
    </div>
  </div>
</header>
