<section id="projects" class="projects-section">
  <div class="container text-center">
    <h2 class="section-title">Projects</h2>
    <div class="row g-4">
      <div class="col-md-6 col-lg-4">
        <div class="card project-card">
          <div class="card-body">
            <h3 class="card-title">Cortracker Inc <br>Software Engineer - Feb 2025 – Present
              </h3>
            <p>Developed and customized ERP modules for HRM and CRM systems using .NET technologies,
               optimizing SQL Server databases and creating RESTful APIs. Built responsive UIs with Angular/React,
              automated deployments via CI/CD pipelines, and collaborated with teams to deliver high-quality solutions.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card project-card">
          <div class="card-body">
            <h3 class="card-title">IN TECHNET LIMITED <br>	Software Developer - June 2020 to May 2023
</h3>
            <p>Developed a scalable grocery delivery system using .NET Core, Angular, and Flutter, 
              integrating payment gateways and real-time order tracking while optimizing database performance with Redis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card project-card">
          <div class="card-body">
            <h3 class="card-title">IN TECHNET LIMITED <br>	Software Developer - July 2018 to May 2020
</h3>
            <p>
             I also worked on a college automation system for creating web applications for managing 
             admissions, schedules, and payroll with .NET technologies and SQL Server. My role involved full-stack
              development, cloud deployment, and ensuring high system performance and security.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
